/dist/demo.html
/docs/icon
/public
/src/assets/*
/src/App.vue
/src/main.ts
/src/vite-env.d.ts
/src/style.css

.browserslistrc
.eslintrc.js
.prettierrc.js
.prettierrc.json

babel.config.js
package-lock.json
index.html
vite.config.ts
tsconfig.json
tsconfig.node.json